@charset "utf-8";

/* color
ベージュ　#F6F4EF
緑　#7B850B
茶色　#542912
藍　#041526
color */

.head_img {
    width: 100%;
    height: 300px;
    background-color: #ccc;
}
.top_inner {
    text-align: center;
    border-bottom: 1px solid #7b850b;
}
.sec_title {
    font-size: 32px;
}
.sec_sub {
    text-align: center;
    font-size: 12px;
}
.content_inner {
    padding: 0 20px 180px;
}
@media (min-width: 768px) {
    .content_inner {
        padding: 200px 0;
    }
}

/* =========================見出しの装飾開始========================= */

.area_cate {
    padding: 5px;
    font-family: "Shippori Mincho B1";
    font-size: 15px;
    border-left: #7b850b 5px solid;
    margin-bottom: 5px;
}
@media (min-width: 768px) {
    .area_cate {
        padding: 5px;
        font-family: "Shippori Mincho B1";
        font-size: 24px;
        border-left: #7b850b 7px solid;
        margin-bottom: 5px;
    }
}

/* =========================見出しの装飾開始========================= */

/* ===================== ↓SP_card_CSS ===================== */

.sp_stores_cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sp_stores_cars .stores_card {
    width: 45%;
    max-width: 270px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.sp_stores_cars .stores_card:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.sp_stores_cars .text_inner {
    width: 90%;
    margin: 0.5rem auto;
}
.sp_stores_cars .stores_name {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.sp_stores_cars .stores_catch {
    padding-bottom: 0.5rem;
    font-size: 14px;
    border-bottom: solid 1px #542912;
}
.sp_stores_cars .stores_tags {
    display: flex;
    margin: 8px 0 0;
    font-size: 13px;
}
.sp_stores_cars .stores_tag:not(:first-child) {
    margin: 0 0 0 10px;
}

/* ===================== ↓PC_card_CSS ===================== */

.pc_stores_cards {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1100px;
}
.pc_stores_cards .stores_card {
    position: relative;
    width: 31%;
    margin-bottom: 25px;
    max-width: 280px;
}
.pc_stores_cards .front_card {
    position: absolute;
    z-index: 10;
}
.pc_stores_cards .stores_img {
    position: relative;
    width: 95%;
    height: auto;
}
.pc_stores_cards .stores_img img {
    border-radius: 5px 5px 0 0;
}
.pc_stores_cards .stores_tags {
    position: absolute;
    top: 5px;
}
.pc_stores_cards .stores_tags p {
    display: inline-block;
    margin: 0 0 5px 5px;
    padding: 3px 5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
    font-size: 14px;
    border-radius: 14px;
}
.pc_stores_cards .stores_tags p::before {
    content: "#";
}
.pc_stores_cards .text_inner {
    width: 95%;
    height: 75px;
    padding: 8px;
    border-radius: 0 0 5px 5px;
    background-color: #041526;
}
.pc_stores_cards .stores_name {
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 16px;
}
.pc_stores_cards .stores_catch {
    color: #fff;
    font-size: 14px;
}
.pc_stores_cards .back_card {
    position: relative;
    margin: 2rem 0 0;
    width: 95%;
    left: 16px;
    background-color: #fff;
    padding: 90% 20px 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}
.pc_stores_cards .card_text {
    font-size: 14px;
}
@media (min-width: 768px) {
    .sp_stores_cars {
        display: none;
    }
    .pc_stores_cards {
        display: flex;
    }
}
.more_btn {
    margin: 0 0 50px;
    text-align: right;
}
@media (min-width: 768px) {
    .more_btn {
        margin: 0px 0 60px;
        text-align: right;
    }
}
footer {
    width: 100%;
    height: 547px;
    background-color: #041526;
}
