:root {
  /* common */
  font-family: Rollerscript, Shippori Mincho B1, Hiragino Sans, Noto Sans JP;
  --bgc-navy: #041526;
  --bgc-beige: #f6f4ef;
  --fontcolor-title: #7b850b;
  --fontcolor-text: #542912;
  /* --fontcolor-bottun: #041526; */
  --fontcolor-bottun: #547391;
  /* --fontcolor-bottun: #542912; */

  /* SP */
  /* top_ttl */
  --fontsize-: 32px;

  /*btn  */
  --fontsize-: 24 px;

  /*  */
  --fontsize-tenpomei: 20px;

  /* topview_sub foot_ttl*/
  --fontsize-: 18px;

  /* top_new_ttl top_new_text top_sore_tub top_store_ttl btn_text top_pick_ttl*/
  --fontsize-: 16px;

  /* top_new_day top_sore_tag top_sore_text top_pick_text foot_text*/
  --fontsize-: 14px;

  /* top_ttl_sub top_pick_day top_pick_cate*/
  --fontsize-: 12px;

  /*  */
  --fontsize-tag: 13px;
}

/* おまけ */
* {
  /* bold */
  font-weight: bold;
  /* medium */
  font-weight: 400;
}
