@charset "utf-8";

/* ======================================================== */
/* commonに入っているコンポーネント */

/* h3_見出し（一覧、条件検索で使用）左に緑の縦棒 →→→各個別ページのCSSに移動 →移動したので消しました */
/* ヘッダー */
/* 下層のタイトルエリア */
/* ハンバーガーメニュー */
/* ドロワーメニュー */
/* ボタンとその動き */
/* フッター */
/* ======================================================== */

body {
    color: #542912;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: "";
    letter-spacing: "";
    /* line-height: 2rem; */
    /* 改行用 */
    overflow-wrap: break-word;
}
body.fixed {
    position: fixed;
    width: 100%;
}

/* bobyのcolorで行くなら消す */
h1 {
    /* color: #542912; */
    font-family: "Shippori Mincho B1", serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: "";
    line-height: "";
    text-align: center;
}
h2 {
    /* color: #542912; */
    font-family: "Shippori Mincho B1", serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: "";
    line-height: "";
    text-align: center;
}
h3 {
    /* color: #542912; */
    font-family: "Shippori Mincho B1", serif;
    font-size: 16px;
    font-weight: "";
    letter-spacing: "";
    line-height: "";
}
/* p を.title_sub にしても良い*/
.wrap_title p {
    color: #7b850b;
    font-family: rollerscript-rough, sans-serif;
    font-size: 32px;
    text-align: center;
}

img {
    max-width: 100%;
    object-fit: cover;
}
iframe {
    max-width: 100%;
}

/* fuji */
a {
    cursor: pointer;
}
a img {
    /* transition: 1s ease-in-out; */
    /* 前田さん希望 */
    transition: 0.3s ease-in-out;
}
a img:hover {
    transform: scale(1.05);
}

.wrap {
    margin: 0 auto;
}
.inner {
    padding: 40px 20px 60px;
}

/* 背景ベージュ用 */
section:nth-of-type(even) {
    background-color: #f6f4ef;
}
.wrap_title {
    margin-bottom: 60px;
}
/* 2.22 PC版に設定 */
.wrap_text {
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.85;
}

/* レスポンス */
@media (min-width: 768px) {
    h1 {
        font-size: 28px;
        letter-spacing: "";
        line-height: "";
    }
    h2 {
        font-size: 28px;
        letter-spacing: "";
        line-height: "";
    }
    h3 {
        font-size: 22px;
        letter-spacing: "";
        line-height: "";
    }

    .wrap {
        max-width: 1100px;
        margin: 0 auto;
    }
    .inner {
        padding: 100px 25px;
    }

    .wrap_title p {
        font-size: 48px;
    }
    .wrap_text {
        margin: 0 auto;
        margin-bottom: 68px;
        width: 745px;
        text-align: center;
        font-size: 16px;
        line-height: 2.375;
    }
}

/* ヘッダー */
/* fuji これでいいか？ */
.header_wrap {
    width: 100%;
    height: 0;
}
.header_inner {
    /* padding: 0 20px; */
    height: 100%;
}

/* fuji 下層ヘッダーまで*/
.header_wrap_box {
    /* opacity: 0; */
    transition: 1s ease-in-out;
    /* margin-right: -20px; */
    height: 45px;
}
@media (min-width: 768px) {
    .header_wrap_box {
        max-width: 1100px;
        margin: 0 auto;
        height: 60px;
    }
}
.header_wrap_box_icon {
    display: block;
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 9999;
}
.header_wrap_box_icon img {
    width: 36px;
    height: 36px;
}
.header_nav_list {
    display: none;
}
@media (min-width: 768px) {
    .header_wrap_box_icon img {
        width: 60px;
        height: 60px;
    }
    .header_nav_list {
        display: flex;
        position: fixed;
        top: 20px;
        right: 10px;
        color: #fff;
        z-index: 9999;
    }
    .header_nav_item {
        position: relative;
        padding: 10px 15px;
        font-family: "Shippori Mincho B1", serif;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
    }
    /* hoverした時の線 */
    .header_nav_item::after {
        position: absolute;
        bottom: -8px;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background: currentColor;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    .header_nav_item:hover:after {
        bottom: -4px;
        opacity: 1;
        visibility: visible;
    }
}
@media screen and (min-width: 1280px) {
    .header_wrap_box_icon {
        left: calc(50% - 625px);
    }
    .header_nav_list {
        right: calc(50% - 625px);
    }
}

/* 下層のヘッダー */
.header_wrap.under {
    height: 150px;
    background-image: url(../img/free0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 9px 16px -12px rgba(0, 0, 0, 0.6);
}
@media (min-width: 768px) {
    .header_wrap.under {
        height: 300px;
    }
}

/* 下層タイトルエリア */
.under_title.inner {
    margin: 0 20px;
    padding: 60px 0;
    border-bottom: 1px solid #7b850b;
}
@media (min-width: 768px) {
    .under_title.inner {
        padding: 100px 0;
    }
}
.under_wrap_title p {
    color: #7b850b;
    font-family: rollerscript-rough, sans-serif;
    font-size: 32px;
    text-align: center;
}
@media (min-width: 768px) {
    .under_wrap_title p {
        font-size: 48px;
    }
}

/* ハンバーガーメニュー */
.header_wrap_box_nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #041526;
}
@media (min-width: 768px) {
    .header_wrap_box_nav {
        display: none;
    }
}
.header_wrap_box_nav_line {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.3s;
}
.header_wrap_box_nav_line:nth-of-type(2) {
    position: absolute;
    bottom: 16.5px;
}
.header_wrap_box_nav_line:nth-of-type(3) {
    position: absolute;
    top: 16.5px;
}
.header_wrap_box_nav_line:nth-of-type(1).active {
    opacity: 0;
}
.header_wrap_box_nav_line:nth-of-type(2).active {
    transform: translateY(-5px) rotate(45deg);
}
.header_wrap_box_nav_line:nth-of-type(3).active {
    transform: translateY(5px) rotate(-45deg);
}

/* ドロワーメニュー */
.drower {
    display: none;
}
@media (min-width: 768px) {
    .drower {
        display: none;
    }
}
/* ↓jsで.visible付け外し */
.drower.visible {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow-y: auto;
    background-color: #041526;
    font-family: "Shippori Mincho B1", serif;
}
.drower .wrap {
    /* background-color: #041526; */
    height: 100%;
}
.drower .inner {
    /* padding: 110px 20px 0; */
    height: 100%;
}
.drower_nav_logo {
    width: 67%;
    margin: 0 auto 30px;
    width: 284px;
}
.drower_nav {
    color: #fff;
    text-align: center;
}
.drower_nav_box {
    margin-bottom: 60px;
}
.drower_nav_box_item {
    display: inline-block;
    padding: 1em;
    font-size: 16px;
}
.drower_nav_box li + li {
    border-left: 1px solid #fff;
}
.drower_nav_box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.drower_nav_item {
    padding: 1em 3.5em;
    font-size: 16px;
}
.drower_nav_list a {
    display: inline-block;
}
.drower_nav_list:last-child {
    padding-bottom: 50px;
}

/* btn*/
/* 2.27btn更新 */
.btn_wrap {
    margin: 40px auto 0;
    max-width: 220px;
}
/* fuji */
.btn_link {
    display: block;
    width: 100%;
    padding: 16px 32px;
    background-color: #041526;
    border-radius: 3px;
    text-align: center;
    /* opacity: 0.7; */
    font-family: "Shippori Mincho B1", serif;
    /* transition: 1s ease-in-out; */
    /* 前田さん希望 */
    transition: 0.3s ease-in-out;
    color: #fff;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
}
.btn_link span {
    /* color: #fff; */
}
.btn_link:hover {
    /* opacity: 1; */
    background-color: #fff;
    color: #041526;
}
@media (min-width: 768px) {
    .btn_wrap {
        margin: 100px auto 0;
        max-width: 250px;
    }
    .btn_link {
        padding: 20px 0;
        font-size: 20px;
    }
}

/* フッター */
footer {
    background-color: #041526;
}
.footer_logo {
    width: 53%;
    min-width: 300px;
    margin: 0 auto 16px;
}
.footer_nav_item a {
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-family: "Shippori Mincho B1", serif;
    font-size: 18px;
    color: #fff;
}
.footer_nav {
    margin-bottom: 55px;
    text-align: center;
}
@media (min-width: 768px) {
    footer .inner {
        padding-top: 185px;
        padding-bottom: 60px;
    }
    .footer_nav {
        margin-bottom: 55px;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .footer_flex {
        display: flex;
        justify-content: center;
        margin-bottom: 85px;
    }
    .footer_nav {
        display: flex;
        justify-content: space-around;
        padding: 24px 24px 24px 2%;
        border-left: 1px solid #fff;
        text-align: left;
    }
    .footer_logo {
        width: 320px;
    }
    .footer_nav_list:last-of-type {
        margin-left: 36px;
    }
}

.footer_wrap_copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    color: #fff;
}

/* hover時の動き */
/* 線が下からふわっとver */
footer a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
footer a::after {
    position: absolute;
    bottom: -8px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
footer a:hover::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible;
}

/* 線が左から伸びるver */
/* footer a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
footer a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
}
footer a:hover::after {
    transform: scale(1, 1);
} */

/* インスタアイコンは線出さない */
.footer_nav_list:last-of-type > .footer_nav_item:last-of-type a::after {
    content: none;
}

/* 保管用 */
/* @media (min-width: 768px) {} */
