.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 1s ease-in-out;
  z-index: 1;
  background-color: #041526;
  z-index: 10000;
}
.loading.active {
  opacity: 1;
  visibility: visible;
}

.bg {
  position: absolute;
  left: -10px;
  height: 100%;
  width: 110vw;
  border-radius: 5px;
  background-image: linear-gradient(100deg, #fff 50%, transparent 50%);
  background-position: 100%;
  background-size: 300%;
  color: white;
  text-decoration: none;
  animation-name: bg;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
  animation-timing-function: cubic-bezier(0.91, 0.09, 0.77, 0.91);
}

@media (min-width: 760px) {
  .bg {
    background-image: linear-gradient(135deg, #fff 50%, transparent 50%);
  }
}
@keyframes bg {
  0% {
  }
  100% {
    background-position: 0;
  }
}
.header_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%; */
  width: 100vmin;
}
.aoch_logo_stroke {
  width: 100%;
  /* width: 100%;するだけでほぼ中央によります */
  height: 50vmin;
  /* ここのheight数値を変えるとlogoの大きさが変わる */
  fill: none;
  stroke: #777;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 80px;
  margin-left: 8%;
}
