@charset "utf-8";
/* ======================================================== */
/* ニュース一覧 */

/* ======================================================== */
/* 新着情報 */
.column2_article {
    flex-basis: 70%;
}
.column2_article .wrap_text {
    text-align: left;
}
@media (min-width: 768px) {
    #news .column2_aside .inner {
        padding-top: 100px;
    }
}

.news_wrap_card {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #7b850b;
}
.news_wrap_card:last-child {
    margin-bottom: 0;
}
.news_wrap_card_icon {
    flex-basis: 42px;
    text-align: center;
}
.news_wrap_card_inner {
    display: block;
    margin-left: 1%;
    padding: 0.5em;
}
.news_card_meta {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.news_date {
    display: block;
}
.category_update {
    display: block;
    margin-left: 10px;
    padding: 0.3em 0.5em;
    background-color: #542912;
    color: #fff;
}
.category_news {
    display: block;
    margin-left: 10px;
    padding: 0.3em 0.5em;
    background-color: #fff;
    border: 1px solid #542912;
    color: #542912;
}
.news_text {
    display: block;
    margin-bottom: 6px;
}
.news_title {
    margin-bottom: 6px;
}
.news_desc {
    line-height: 1.5em;
}
@media (min-width: 768px) {
    .news_wrap_cards {
        max-width: 800px;
        margin: 0 auto;
    }
}

.more_btn {
    display: block;
    position: relative;
    margin: 0 0 50px;
    padding-right: 30px;
    text-align: right;
}
.more_btn::after {
    content: "\f054";
    position: absolute;
    top: 10%;
    right: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
@media (min-width: 768px) {
    .more_btn {
        margin: 60px 0 0;
        text-align: right;
    }
}

/* moreボタンでさらに表示 */
.news_wrap_cards li {
    opacity: 1;
    transition: all 0.4s ease 0s;
    overflow: hidden;
}
.news_wrap_cards li.is-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin: 0 10px;
    padding: 0;
}
