@charset "utf-8";
/* ======================================================== */
/* 店舗一覧ページCSS */

/* ======================================================== */

/* h3_見出し（一覧、条件検索で使用） */
.area_cate {
  padding: 5px 5px 5px 10px;
  text-align: left;
  font-family: "Shippori Mincho B1";
  font-size: 15px;
  border-left: #7b850b 5px solid;
}
.store_area {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .area_cate {
    padding: 5px 5px 5px 10px;
    font-family: "Shippori Mincho B1";
    font-size: 24px;
    border-left: #7b850b 5px solid;
  }
}
